<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
      <label for="firstName">First Name</label>
      <input  
      required  
      minlength="3" 
      pattern="[a-zA-Z0-9]*"
      ngModel name ="firstName" 
      #firstName="ngModel" 
      (change)="log(firstName)" 
      id = "firstName"       
      type="text" 
      class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        
        <div *ngIf="firstName.errors.required"> First name is required.</div>
        <div *ngIf= "firstName.errors.minlength">max length of name is {{firstName.errors.minlength.requiredLength}}</div>
        <div *ngIf= "firstName.errors.pattern">only support pattern</div>
      </div>
  </div>
 <div class="form-group">  
   <label for="comment">Comment</label>
   <textarea name="" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
 <!--  <div class="form-control">
    <label for=""></label>
    <checkbox></checkbox>
  </div> -->
<!-- <div class="form-group"><label for="contractMethod"></label><select name="" id="contactMethod" class="from-control"></select></div> -->
<div class="form-group">
  <label for="contactMethod">Contact Method</label>
  <select multiple ngModel name="contactmethod" id="contactMethod" class="form-control">
    <option *ngFor="let method of contactMathods" [value]="method.id">{{method.name}}</option>
   <!--  <option value="sandeep "> 1</option>
    <option value="ddbdbdb">2</option>
    <option value="sandeep ">4 </option>
    <option value="ddbdbdb">3</option> -->
  </select>
</div>   
<div  class="radio"  >
    <label *ngFor="let status of marietalStatus">
  <input  ngModel type="radio" name= "contactMethod" [value]="status.id"> 
  {{status.name}}</label>
</div>
 
<!-- <div class="radio">
  
  <input ngModel type="radio" name= "contactMethod" value="2"> 
  <label for="status">Married</label>
</div> -->
<p>
    {{f.value|json}}
  </p> <br/>
     <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>  